html, body{

    overflow-x:hidden;
       margin:0;
       background-color: #FAFAFA;
         max-width: 100%;
}
p,h1,h2{
    font-family:Oswald, Arial;
}
div{
    font-family:Oswald, Arial;
}
* {
  box-sizing: border-box;
}

